body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    line-height: 1.6;
    text-align: justify;
}
.name-highlihgt{
    color: orange;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.helf-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.orange-highlight{
    color: orange;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 350px;
    border-radius: 5px;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 35%;
}
#web-design{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, tomato);
    border-image-slice: 1;
    background-color: white;
}
#newbie-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.Experience-area p{
    margin-right: 10px;
}
footer p{
    text-align: center;
    font-size: 12px;
}